.DS_Store
docs/.vitepress/cache

/node_modules/
/docs/.vitepress/dist/
.pnpm-store/
.idea

volumes/website/logs/
volumes/website/geoip
.qoder/**/__pycache__/
.qoder/**/*.pyc
cert/

# 环境变量配置文件
.env
.env.local
.env.*.local